.u-section-1 .u-sheet-1 {min-height: 543px}
.u-section-1 .u-layout-wrap-1 {margin: 60px auto 0 0}
.u-section-1 .u-image-1 {min-height: 423px; background-image: url("images/IMG_60293.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-layout-cell-2 {min-height: 96px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-text-1 {margin-top: 0; margin-bottom: 0}
.u-section-1 .u-layout-cell-3 {min-height: 327px}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-text-2 {margin: 0}
.u-section-1 .u-layout-cell-4 {min-height: 327px}
.u-section-1 .u-container-layout-4 {padding: 30px}
.u-section-1 .u-text-3 {font-weight: 700; margin: 0}
.u-section-1 .u-text-4 {font-weight: 700; margin: 30px 0 60px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 472px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-image-1 {min-height: 349px}
.u-section-1 .u-layout-cell-2 {min-height: 79px}
.u-section-1 .u-layout-cell-3 {min-height: 270px}
.u-section-1 .u-layout-cell-4 {min-height: 270px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 436px}
.u-section-1 .u-image-1 {min-height: 802px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-layout-cell-4 {min-height: 100px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 536px}
.u-section-1 .u-image-1 {min-height: 602px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-image-1 {min-height: 379px} }.u-section-2 .u-sheet-1 {min-height: 66px}.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 128px}
.u-section-3 .u-text-1 {font-weight: 700; font-size: 3.75rem; margin: 20px 0 0}
.u-section-3 .u-text-2 {font-size: 1.125rem; margin: 20px 0 50px} 

@media (max-width: 1199px){ .u-section-3 .u-text-2 {width: 803px} }

@media (max-width: 991px){ .u-section-3 .u-text-2 {width: 720px} }

@media (max-width: 767px){ .u-section-3 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-3 .u-text-1 {font-size: 3rem}
.u-section-3 .u-text-2 {width: 340px} }.u-section-4 .u-sheet-1 {min-height: 252px}
.u-section-4 .u-layout-wrap-1 {margin: 50px 0}
.u-section-4 .u-layout-cell-1 {min-height: 165px}
.u-section-4 .u-container-layout-1 {padding: 20px}
.u-section-4 .u-text-1 {margin: 0}
.u-section-4 .u-layout-cell-2 {min-height: 137px}
.u-section-4 .u-container-layout-2 {padding: 20px 60px}
.u-section-4 .u-text-2 {font-size: 1.125rem; margin: 0}
.u-section-4 .u-btn-1 {margin: 30px 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 137px}
.u-section-4 .u-btn-1 {font-weight: normal} }

@media (max-width: 991px){ .u-section-4 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-4 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 139px}
.u-section-4 .u-layout-cell-1 {min-height: 47px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-layout-cell-2 {min-height: 201px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-layout-cell-1 {min-height: 42px}
.u-section-4 .u-layout-cell-2 {min-height: 231px} }.u-section-5 .u-sheet-1 {min-height: 252px}
.u-section-5 .u-layout-wrap-1 {margin: 50px 0}
.u-section-5 .u-layout-cell-1 {min-height: 137px}
.u-section-5 .u-container-layout-1 {padding: 20px}
.u-section-5 .u-text-1 {margin: 0}
.u-section-5 .u-layout-cell-2 {min-height: 137px}
.u-section-5 .u-container-layout-2 {padding: 20px 60px}
.u-section-5 .u-text-2 {font-weight: 700; font-size: 1.125rem; margin: 0}
.u-section-5 .u-btn-1 {margin: 30px 0 0} 

@media (max-width: 1199px){ .u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-btn-1 {font-weight: normal} }

@media (max-width: 991px){ .u-section-5 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-5 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 139px}
.u-section-5 .u-layout-cell-1 {min-height: 47px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-layout-cell-2 {min-height: 201px}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-5 .u-layout-cell-1 {min-height: 42px}
.u-section-5 .u-layout-cell-2 {min-height: 231px} }.u-section-6 .u-sheet-1 {min-height: 252px}
.u-section-6 .u-layout-wrap-1 {margin: 50px 0}
.u-section-6 .u-layout-cell-1 {min-height: 165px}
.u-section-6 .u-container-layout-1 {padding: 20px}
.u-section-6 .u-text-1 {margin: 0}
.u-section-6 .u-layout-cell-2 {min-height: 165px}
.u-section-6 .u-container-layout-2 {padding: 20px 60px}
.u-section-6 .u-text-2 {font-size: 1.125rem; margin: 0}
.u-section-6 .u-btn-1 {margin: 30px auto 0 0} 

@media (max-width: 1199px){ .u-section-6 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-1 {min-height: 137px}
.u-section-6 .u-layout-cell-2 {min-height: 137px}
.u-section-6 .u-btn-1 {font-weight: normal} }

@media (max-width: 991px){ .u-section-6 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-6 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 139px}
.u-section-6 .u-layout-cell-1 {min-height: 47px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-layout-cell-2 {min-height: 201px}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-6 .u-layout-cell-1 {min-height: 42px}
.u-section-6 .u-layout-cell-2 {min-height: 231px} }.u-section-7 .u-sheet-1 {min-height: 252px}
.u-section-7 .u-layout-wrap-1 {margin: 50px 0}
.u-section-7 .u-layout-cell-1 {min-height: 137px}
.u-section-7 .u-container-layout-1 {padding: 20px}
.u-section-7 .u-text-1 {margin: 0}
.u-section-7 .u-layout-cell-2 {min-height: 143px}
.u-section-7 .u-container-layout-2 {padding: 20px 60px}
.u-section-7 .u-text-2 {font-weight: 700; font-size: 1.125rem; margin: 0}
.u-section-7 .u-btn-1 {margin: 30px auto 0 0} 

@media (max-width: 1199px){ .u-section-7 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-7 .u-layout-cell-2 {min-height: 137px}
.u-section-7 .u-btn-1 {font-weight: normal} }

@media (max-width: 991px){ .u-section-7 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-7 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 139px}
.u-section-7 .u-layout-cell-1 {min-height: 47px}
.u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-layout-cell-2 {min-height: 201px}
.u-section-7 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-7 .u-layout-cell-1 {min-height: 42px}
.u-section-7 .u-layout-cell-2 {min-height: 231px} }